* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	font-size: inherit;
	font-family: inherit;
	&::before,
	&::after {
		box-sizing: inherit;
	}
}

html, body {
	width: 100%;
	height: 100%;
	font-family: monospace;
	font-size: 16px;
	line-height: 1.2;
	background-color: #000;
	color: #fff;
}

.main-container {
	padding: 1rem;
	width: 100%;
	max-width: 640px;
	margin: auto;
	.main-section + .main-section {
		margin-top: 2rem;
	}
}

.canvas-wrapper {
	position: relative;
	.reload-button {
		position: absolute;
		top: 0;
		right: 0;
		padding: .5rem;
		background: #555;
		z-index: 1;
		&:hover {
			cursor: pointer;
		}
	}
}
