h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.17rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: .83rem;
}

h6 {
	font-size: .67em;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
}

a {
	color: #aaa;
	text-decoration: underline;
	&:hover {
		cursor: pointer;
		color: #fff;
	}
}

hr {
	display: block;
	width: auto;
	height: 1px;
	background-color: #555;
	margin: 1rem 0;
}

p {
	margin: .5rem 0;
}

canvas {
	display: block;
	width: 100%;
	height: auto;
	margin: .5rem 0;
	border: 1px solid #555;
	background-color: #000;
}
